<% #addfeed %>
<h1>This will be the add feed</h1>
<ul class="thumbnails">
	<li>
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/360x180" alt="">
		</a>
	</li>
	<li>
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/360x180" alt="">
		</a>
	</li>
	<li>
		<a href="#" class="thumbnail">
			<img src="http://placehold.it/360x180" alt="">
		</a>
	</li>
</ul>